.LoginPage h2 {
    text-align: center;
}
.LoginPage form {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .LoginPage form {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .LoginPage form {
        width: 30%;
    }
}