.SearchSection {
    text-align: center;
    margin: 10px 0;
}

.SearchSection Form input {
    width: 30%;
    margin: 0 10px;
    height: 1.5em;
}
.SearchSection form button{
    width: 20%;
    height: 2em;
    background-color: white;
}
.SearchSection Form .type_options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.SearchSection Form .type_options input {
    width: 10px;
}

@media screen and (min-width: 768px) {
    .SearchSection {
        width: 75%;
    }
}